TTNGatewayMapFlows.txt
[{"id":"6d84cab3.22dfd4","type":"tab","label":"Flow 1"},{"id":"96fb6a63.267388","type":"inject","z":"6d84cab3.22dfd4","name":"Refresh list","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":240,"wires":[["6a90d029.a11c"]]},{"id":"26eaf712.863a88","type":"debug","z":"6d84cab3.22dfd4","name":"","active":false,"console":"false","complete":"payload","x":830,"y":320,"wires":[]},{"id":"6a90d029.a11c","type":"file in","z":"6d84cab3.22dfd4","name":"Read ttnlog.txt","filename":"d:\\ttnlog.txt","format":"utf8","chunk":false,"sendError":false,"x":300,"y":240,"wires":[["8f623346.e801b"]]},{"id":"8f623346.e801b","type":"csv","z":"6d84cab3.22dfd4","name":"To JS obj","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","x":480,"y":240,"wires":[["7011f2ce.ca088c"]]},{"id":"7011f2ce.ca088c","type":"function","z":"6d84cab3.22dfd4","name":"Visited gwys","func":"var messages = msg.payload;\nvar gateways_seen = [];\n\nnode.status({fill:\"red\",shape:\"dot\",text:\"Busy building list\"});\n\n//build array with unique gateway id's of visited gateways\nfor (var j = 0; j < messages.length; j++){\n    if (gateways_seen.indexOf(messages[j].gtw_id) == -1){ \n        gateways_seen.push(messages[j].gtw_id);\n    }\n}\n//store array in flow context\nflow.set(\"gateways_seen\", gateways_seen);\n\nnode.status({});\n\n//send trigger to next block\nmsg = {\"payload\": \"done\"};\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":240,"wires":[["3b6d4145.18062e"]]},{"id":"289649b5.48db46","type":"json","z":"6d84cab3.22dfd4","name":"To JS obj","pretty":false,"x":300,"y":360,"wires":[["9a551747.8b0af8"]]},{"id":"9a551747.8b0af8","type":"function","z":"6d84cab3.22dfd4","name":"Filter & color","func":"var gwcolor = \"\";\nvar gwlayer = \"\";\nvar gwlist = [];\n\n//only list gateways actively seen today\nvar d = new Date();\nvar todaystr = d.getFullYear() + \"-\" + (\"0\"+(d.getMonth()+1)).slice(-2) + \"-\" + (\"0\" + d.getDate()).slice(-2);\nvar gateways_seen = flow.get(\"gateways_seen\");\nvar gateways = msg.payload.statuses;\nnode.status({fill:\"red\",shape:\"dot\",text:\"Busy building list\"});\n\n//traverse through all existing gateways\n//filter for The Netherlands area and active gateways only\n//color seen gateways green, the others red intensity depending on nr of uplink messages\nfor (var key in gateways){\n    if (gateways.hasOwnProperty(key)){\n        if ((gateways[key].location.longitude > 2.8) &&\n           (gateways[key].location.longitude < 7.6) &&\n           (gateways[key].location.latitude > 50) &&\n           (gateways[key].location.latitude < 54) &&\n           (gateways[key].timestamp.substring(0,10) == todaystr)){\n               if (gateways_seen.indexOf(key) > -1 ){\n                   gwcolor = \"#66ff33\";  //green\n                   gwlayer = \"visited gateways\";\n               }\n                else {\n                   gwlayer = \"new gateways\";\n                   gwcolor = \"#FFE6E6\"; //very light red\n                   if (gateways[key].uplink > 1000){\n                      gwcolor = \"#FF9999\"; // bit brighter red\n                      if (gateways[key].uplink > 10000){\n                         gwcolor = \"#FF4D4D\"; // /another bit brighter red\n                         if (gateways[key].uplink > 100000){\n                            gwcolor = \"#FF0000\"; // absolutely red\n                         }\n                      }\n                   }\n                }\n                //create URL to TTN Mapper radar page of this gateway\n                //\"eui-\" type gateways need the eui part removed\n                var newkey = key;\n                if (key.substring(0, 4) == \"eui-\"){\n                    newkey = key.substring(4).toUpperCase()\n                }\n                var weblink = {\"name\":\"TTN radar\", \"url\":\"https://ttnmapper.org/colour-radar/?gateway=\" + newkey + \"&type=radar&hideothers=on\"};\n                //put marker in list to show\n                gwlist.push({\"name\":key,  \n                             \"lon\":gateways[key].location.longitude,\n                             \"lat\":gateways[key].location.latitude,\n                             \"layer\": gwlayer,\n                             \"icon\": \"\", \n                             \"iconColor\": gwcolor, \n                             \"weblink\": weblink,\n                             \"rx packets\": gateways[key].uplink,\n                             \"tx packets\": gateways[key].downlink,\n                             \"altitude\": gateways[key].location.altitude,\n                             \"plaform\": gateways[key].platform\n                });\n           }\n    }\n}\nnode.status({});   // clear the status\nflow.set(\"gwlist\", gwlist);\nmsg = {payload: gwlist};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":360,"wires":[["b9ac439.ad4abc"]]},{"id":"3b6d4145.18062e","type":"http request","z":"6d84cab3.22dfd4","name":"Get all gateways","method":"GET","ret":"txt","url":"http://noc.thethingsnetwork.org:8085/api/v2/gateways","tls":"","x":140,"y":360,"wires":[["289649b5.48db46"]]},{"id":"afe51aeb.e4d598","type":"worldmap","z":"6d84cab3.22dfd4","name":"TTN Map","lat":"52.2047396","lon":"5.2128629","zoom":"10","layer":"OSM","cluster":"0","maxage":"0","usermenu":"show","layers":"show","panit":"false","x":820,"y":360,"wires":[]},{"id":"b9ac439.ad4abc","type":"split","z":"6d84cab3.22dfd4","name":"Send markers","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":640,"y":360,"wires":[["afe51aeb.e4d598","26eaf712.863a88"]]},{"id":"d1234639.aa4ab8","type":"inject","z":"6d84cab3.22dfd4","name":"Recall","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":290,"y":420,"wires":[["78b1931d.df5ffc"]]},{"id":"78b1931d.df5ffc","type":"function","z":"6d84cab3.22dfd4","name":"Recall list","func":"gwlist = flow.get(\"gwlist\");\nmsg = {payload: gwlist};\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":420,"wires":[["b9ac439.ad4abc"]]},{"id":"b30d6140.3c12f","type":"ttn message","z":"6d84cab3.22dfd4","name":"TTN message","app":"f1e5cbc1.24b7e8","dev_id":"pa3dsb_lopy_1","field":"","x":130,"y":100,"wires":[["86c4a492.38e768"]]},{"id":"86c4a492.38e768","type":"function","z":"6d84cab3.22dfd4","name":"Process received TTN message","func":"//process new message which may contain the response\n//of multiple gateways which received the packet\nvar gatewaysarray = msg.metadata.gateways;\nvar logMsgs = [];\nfor (i = 0; i < gatewaysarray.length; i++){\n   logMsgs.push({payload: {time: gatewaysarray[i].time,\n                           my_lat: lat_m,\n                           my_lon: lon_m,\n                           gtw_id: gatewaysarray[i].gtw_id,\n                           channel: gatewaysarray[i].channel,\n                           rssi: gatewaysarray[i].rssi,\n                           snr: gatewaysarray[i].snr,\n                           rf_chain: gatewaysarray[i].rf_chain,\n                           gwy_lat: gatewaysarray[i].latitude,\n                           gwy_lon: gatewaysarray[i].longitude,\n                           dist: distancesarray[i],\n                           }\n                 });\n   }\n\nreturn logMsgs;\n\n\n","outputs":1,"noerr":0,"x":370,"y":100,"wires":[["381b674d.42ead8"]]},{"id":"381b674d.42ead8","type":"csv","z":"6d84cab3.22dfd4","name":"To CSV","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"time,my_lat,my_lon,gtw_id,channel,rssi,snr,rf_chain,gwy_lat,gwy_lon,dis","x":590,"y":100,"wires":[[]]},{"id":"72db6d86.6bbca4","type":"file","z":"6d84cab3.22dfd4","name":"","filename":"D:\\ttnlog.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":750,"y":100,"wires":[]},{"id":"5ee32058.0b04c","type":"comment","z":"6d84cab3.22dfd4","name":"Receive tracker messages","info":"","x":170,"y":40,"wires":[]},{"id":"90fb206b.3bd0b","type":"comment","z":"6d84cab3.22dfd4","name":"Draw map","info":"","x":120,"y":180,"wires":[]},{"id":"f1e5cbc1.24b7e8","type":"ttn app","z":"","appId":"pa3dsb_location","region":"eu","accessKey":"ttn-account-v2.GvKXHDh0y83PHNxx1vvzooGWYX3ezgCLCHsoQeDmCEA"}]